<!-- Page Content -->
<div class="container">
  <div class="padding-35">

    <div class="row">

      <center>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <% @products.each do |product| %>
            <div class="col-lg-4 col-md-6 mb-4">
              <% if !product.active %>
              <div id="ribbon-container">
                <div id="ribbon">Coming Soon</div>
              </div>
              <% end %>
              <div class="card h-100">
                <%= image_tag product.image, class: "card-img-top" %>
                <div class="card-body">
                  <h4 class="card-title">
                    <% if product.active %>
                      <%= link_to product.name, product_path(product) %>
                    <% else %>
                      <p> <%= product.name %> </p>
                    <% end %>
                  </h4>
                  <h5> <%= product.price_range %> </h5>
                  <% if product.active %>
                    <p class="card-text"> <%= truncate(product.description, length: 150) { link_to " See more", product_path(product) } %> </p>
                  <% else %>
                    This product is coming soon. Keep an eye on this page or <%= link_to "contact us", "#" %>.
                  <% end %>
                </div>
                <div class="card-footer">
                  <small class="text-muted"> <%= product.score %>/5 </small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->
    </center>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.padding -->

</div>
<!-- /.container -->
