<div class="container-fluid">
  <div class="content-wrapper">
    <div class="row">
			<div class="col-md-12">
				<div class="product col-md-3 service-image-left" style="background-image: url(<%= @product.image %>);
          background-size: contain;
          background-repeat: no-repeat;">
				</div>
			</div>

			<div class="col-md-7">
				<div class="product-title"> <%= @product.name %> </div>
				<div class="product-desc"> <%= @product.description %> </div>
				<hr>
				<div class="product-price">
          <% @product.product_options.each do |po| %>
            <div class="po-container">
              <div class="po-quantity"> <%= po.quantity %> </div>
              <div class="po-price"> <%= number_to_currency(po.price) %></div>
            </div>
          <% end %>
        </div>
				<hr>
        <div class="to-order">
          To order, contact Matthew Thomas:<br><a href="tel:+17204221234">720.422.1234</a><br><a href="mailto:info@cbdsportsolutions.com">info@cbdsportsolutions.com</a></p>
        </div>
			</div>
		</div>
	</div>
</div>
